
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

body {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
      margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #075d965b;
    box-sizing: border-box;
    background-image: url('shopping-vertical-background_23-2150409471.avif'); /* Replace 'background.jpg' with your image file */
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color: #1706ad;
    color: rgb(208, 12, 55);
    padding: 1em;
    text-align: center;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav a {
    color: white;
    margin: 0 1em;
    text-decoration: none;
}

header nav a.logo {
    margin-right: auto;
}

header nav img.logo {
    height: 50px;
    margin-right: 2em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.section {
    width: 80%;
    text-align: center;
}

#search-bar {
    width: 80%;
    padding: 0.5em;
    margin: 1em 0;
    font-size: 1em;
}

.product {
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 1em;
}

.cart ul {
    list-style-type: none;
    padding: 0;
}

.cart li {
    border-bottom: 1px solid #ccc;
    padding: 0.5em 0;
}

#checkout {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

#checkout-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#checkout-form label {
    margin-top: 1em;
}

#checkout-form input, #checkout-form select {
    margin-bottom: 1em;
    padding: 0.5em;
    width: 80%;
}

#checkout-form button {
    background-color: #28a745;
    color: rgb(92, 5, 5);
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    margin-top: 1em;
}
